@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Nunito, sans-serif;
    background-color: #eee;
}

header{
    background-color: #BC6FF1;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.list{
    display: flex;
}
.list li{
    margin: 10px;
    padding: 5px;
    list-style: none;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}
.list li:hover{
    background-color: #aa45ed;
    border-radius: 5px;
}
.selectbox{
    background-color: #aa45ed;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 5px 8px;
    border-radius: 7px;
    cursor: pointer;
}

.container{
    width: 75%;
    margin: 10px auto;
    text-align: center;
}
.container p{
    word-spacing: 5px;
    margin: 0 0 30px 0;
    line-height: 25px;
}
.container h1{
    margin: 20px 0;
}

.parent{
    margin: 0 12%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.child{
    flex-grow: 1;
    width: 275px;
    color: #121212;
    background-color: #fff;
    border-top: 6px solid #BC6FF1;
    border-radius: 5px;
    padding: 8px;
}
.child h2{
    margin: 0 0 8px 0;
}